:root {
  --standart-text-color: #e4d8cc;
  --transparent-text-color: #e4d8cc;
  --violet-text-color: #7837f3
}
.body {
  font-family: "Intel", sans-serif;
}
.container {
  width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
  outline: 2px solid red;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 23px;
}
.nav-list {
  display: flex;
  align-items: center;
  gap: 38px;
}
.contact-list {
  display: flex;
  align-items: center;
  gap: 38px;
}
.hero {
  background-color: gray;
  padding-top: 364px;
  padding-bottom: 116px;
}
.hero-list {
  display: flex;
  gap: 16px;
}
.hero-title {
  font-weight: 400;
  font-size: 57px;
  line-height: 1.06;
  color: var(--standart-text-color);
  margin-bottom: 14px;
}
.hero-text {
    color: var(--standart-text-color);
    font-weight: 400px;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 42px;
}
.hero-button{
color: var(--transparent-text-color);
color: #ffff;
padding:14px 34px;
border-radius: 100px;
border-color: transparent;

font-family: "Intel", sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 24px;
letter-spacing: 0%;
}
.violet {
background-color: var(--violet-text-color)
}
